html{
    font-family: arial, sans-serif;
    font-size: small;
}

body {
    background: #fff;
    color: #222;
}

.navbar {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}


.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    display: inline-block;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.g-logo {
    margin: 30% 0 5% 0;
    align-self: center;
    flex-shrink: 0;
    flex-grow: 0;
}